@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,900');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@media(max-width: 992px) {
    .container {
        max-width: 95%;
    }
}